.hidden {
    display: none;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin: 0 auto;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* -----Common styles Header----- */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
        }
}

/*-----------------Header---------------- */

header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    background: #FFFFFF;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu-list,
.address {
    display: none;
}

.header-logo {
    display: block;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-studio {
    letter-spacing: 0.03em;
    color: #2E2F42;
}

.header-navigation {
    margin-right: auto;
}

.header-logo, .header-button-burger {
    padding: 16px;
}


.header-button-burger {
    line-height: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header-icon-burger {
    fill: #2f2f37;
    display: block;
}

/*-----------------Mobile menu---------------- */

.mobile-menu {
  position: fixed;  
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
}

.mobile-menu-container{
    position: relative;
    padding: 72px 16px 40px;
}

.mobile-menu-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fdfdff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-button:hover,
.mobile-menu-close-button:focus {
    background-color: #404bbf;
    border: none;
}

.mobile-menu-close-button:hover .mobile-menu-close-icon,
.mobile-menu-close-button:focus .mobile-menu-close-icon {
    fill: #FFFFFF;
}

.mobile-menu-nav {
    margin-bottom: 168px;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-list-link:hover,
.mobile-menu-list-link:focus {
    color: #404bbf;
}

.mobile-menu-list-link.studio:visited{
    color: #404bbf; 
}

.mobile-menu-list-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 16px;
}

.mobile-menu-address {
    margin-bottom: 48px;
}

.mobile-menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-address-link {
    display: inline-block;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-style: normal;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 18px;
}
.mobile-menu-address-link:hover,
.mobile-menu-address-link:focus {
   color: #404bbf;
}

.mobile-menu-social-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.mobile-menu-social-list-item {
    width: 40px;
    height: 40px;
}

.mobile-menu-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.mobile-menu-social-link:hover,
.mobile-menu-social-link:focus {
    background-color: #404bbf;
}

.mobile-menu-social-icon {
    fill: #f4f4fd;
}

/* Breakpoint 768px */

@media screen and (min-width: 768px) {
    .header-button-burger {
        display: none;
        }

    .header-navigation {
        display: flex;
        align-items: center;

    }

    .header-logo {
        margin-right: 120px;
        padding: 24px 0;
    }

    .header-menu-list {
        display: flex;
        gap: 40px;

        }
    .nav-link {
        color: #2e2f42;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
    .nav-link:hover,
    .nav-link:focus {
        color: #404bbf;
         }
        
    .current {
        position: relative;
        color: #404BBF;
        }
        
    .current::after {
        content: "";
        left: 0;
        bottom: -1px;
        background-color: #404BBF;
        border-radius: 2px;
        height: 4px;
        width: 100%;
        position: absolute;
        }

    .address {
        display: block;
        font-style: normal;
        }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-link {
        display: block;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
         color: #404bbf;
        }

}

/* Breakpoint 1158px */

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
        }

    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
        }

    .address-link {
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

/* -----Hero----- */

.hero {
    padding: 72px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/hero-mob-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
}

.hero-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto 72px auto;
}

.hero-order-btn {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    margin: 0 auto;
    display: block;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-order-btn:hover,
.hero-order-btn:focus {
    background-color: #404BBF;
}

.features {
    padding-top: 96px;
    padding-bottom: 96px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.icon-ss {
    display: none;
}

.features-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-item-text {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    max-width: 100%;
}

.team {
    padding-top: 96px;
    padding-bottom: 96px;
    background: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}

.team-item {
    background: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-image {
    display: block;
    max-width: 100%;
}

.container-team-list {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    text-align: center;
    margin-bottom: 8px;
}

.team-social-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-icons {
    width: 40px;
    height: 40px;
}

.icon-link  {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
    background-color: #404bbf;
}

.contact-icon  {
    fill: #f4f4fd;
}

.portfolio {
    padding: 96px 0;
}

.container-portfolio {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-item {
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.portfolio-item:hover {
   box-shadow:0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.open-card {
    position: relative;
    overflow: hidden;
}

.new-information {
    position: absolute;
    background-color: #4d5ae5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .new-information {
    transform: translateY(0%);
}

.container-portfolio-list {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc; 
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.mediateka {
    display: flex;
    flex-direction: column;
    gap: 72px;
    text-align: center;  
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-part {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.text-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.social-messenger-footer {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.icon-sss-footer {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
    fill: #f4f4fd;
}

.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.subscribe-label {
    gap: 24px;
    display: flex;
    flex-direction: row;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.subscribe-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    border-radius: 4px;
    border: none;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover {
    background-color: #404bbf;
}