.hidden {
    display: none;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin: 0 auto;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* -----Common styles----- */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}